.notifications {
    position: fixed;
    right: 0;
    top: 76px;
    z-index: 50;
    padding: 0;
    margin: 0; }
    .notifications li {
      max-width: 320px;
      display: block;
      position: relative;
      padding: 6px 10px;
      box-shadow: -2px 2px 2px rgb(240, 243, 239), 0px 0px 5px rgba(144, 172, 126, 0.794);
      border-top: 1px solid rgba(2, 255, 74, 0.704); }
      .notifications li:first-child {
        border-top: 0; }

.sidescroll {
  overflow-x: scroll;
}

@media screen {


  /*** layout ***/

  .flex-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flexbox;
      display: -moz-flex;
      display: -o-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  }

  #page-wrap {
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }

  /*** canvas ***/

  #canvas {
      height: 100vh;
      width: 100vw;

      z-index: 10;
  }

  

  .multi-textures {
      position: absolute;
      top: 5%;
      right: 5%;
      bottom: 5%;
      left: 5%;
      z-index: 15;

      cursor: pointer;
      font-size: 3em;
      color: white;

      justify-content: center;
      align-items: center;
      align-content: center;

  }

  .multi-textures img {
      display: none;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
  }

  /*** handling errors ***/

  .no-curtains .multi-textures {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .no-curtains .multi-textures span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3D(-50%, -50%, 0);
  }

  .no-curtains.image-1 .multi-textures img:nth-child(3) {
      display: block;
  }

  .no-curtains.image-2 .multi-textures img:nth-child(4) {
      display: block;
  }

  .no-curtains.image-3 .multi-textures img:nth-child(5) {
      display: block;
  }

  .no-curtains.image-4 .multi-textures img:nth-child(6) {
      display: block;
  }

}


@media screen and (max-width: 1000px) {

  .multi-textures {
      font-size: 2em;
  }

}